[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment xdce_transparent-ico.pngxdce_transparent-ico.png7.1 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=3c72c03b2d&view=att&th=1619d444da168d8d&attid=0.1&disp=safe&realattid=f_jdpjo4oj0&zw
Icon=text-html
